pre {
  @apply !my-0 !p-0;
}

pre > code {
  @apply !overflow-x-auto !px-1 !py-2 !pb-3;
}

code {
  @apply !py-0 !ml-0 !bg-inherit !rounded-none;
}

code > .line {
}

code > .line.highlighted {
  @apply bg-slate-700;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-4 text-right text-slate-500;
}
